@import "colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 8px;
  font-weight: bold;
}

window#waybar {
  /* background-color: #0A0708; */
  background-color: rgba(18, 20, 20, 0);
  /* background-color: @blur_background8; */
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @tertiary;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @secondary;
  color: @on_secondary;
}

#workspaces {
  background-color: #0A0708;
  padding: 2px 4px;
  margin: 3px 0px;
}

#workspaces button {
  padding: 0 4px;
}

#workspaces button.active {
  /* background-color: @background; */
  color: @tertiary;
  /* padding: 0 15px; */
}


#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 3px;
}

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > * { */
/*     margin-right: 5px; */
/* } */

#clock,
#pulseaudio,
#idle_inhibitor,
#memory,
#tray,
#window,
#hardware,
#network,
#custom-power,
#cpu {
  background-color: #0A0708;
  color: @primary;
  padding: 0 10px;
  margin: 3px 0px;
}

#custom-power {
  margin-right: 3px;
  padding-left: 12px;
  padding-right: 7px;
}

/* #window#waybar.empty { */
/*   background-color: transparent; */
/* } */

window#waybar.empty #window {
  background-color: transparent;
}

/* window#waybar.solo { */
/*   background-color: transparent; */
/* } */
